.footer {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.footer ul{
    display: flex;
    list-style: none;
    align-items: center;
    margin: 25px;
}


.footer li{
    margin: 10px;
}

.footer a{
    color: #FFFFFF !important;
}

.footer p{
    margin: 25px;
}

