.btnA{
    margin-top: 25px;
    padding: 10px;
    background-color: #74FAC0;
    color: #FFFFFF;
    width: 160px;
    height: 35px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    font-weight: bolder;
}

.btnA:hover {
    color:#FFFFFF;
    background: transparent;
    transition-duration: 1s;
    transform: translateY(-7px) translateX(6px);
}